<ion-header>
	<ion-toolbar>
		<ion-title>Create Profile</ion-title>
		<ion-buttons slot="end">
			<ion-button (click)="dismissModal()">
				<ion-icon slot="icon-only" name="close"></ion-icon>
			</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content padding>
	<form [formGroup]="profileForm">
		<ion-item>
			<ion-label position="stacked">{{content.labels.createProfile}}</ion-label>
			<ion-input formControlName="profileName"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label position="stacked">{{content.labels.mainTimer}}:</ion-label>
			<div formGroupName="mainTimeGroup" class="main-timer" >
				<ion-input placeholder="Hours" type="number" formControlName="h" max="24"></ion-input>
				<ion-input placeholder="Minutes" type="number" formControlName="m" max="60"></ion-input>
				<ion-input placeholder="Seconds" type="number" formControlName="s" max="60"></ion-input>
			</div>
		</ion-item>
		<ion-item *ngFor="let subtime of test" formGroupName="subTimeGroup">
			<ion-label position="stacked">{{content.labels.subtimer	}}:</ion-label>
			<ion-input type="number" formControlName="sbInput"></ion-input>
		</ion-item>
	</form>
	<ion-button (click)="addNewSubtimer()">Add New</ion-button>
	<ion-button (click)="saveProfile()" expand="full">{{content.labels.save}}</ion-button>
</ion-content>