<ion-header>
	<ion-toolbar>
		<ion-title>Create Profile</ion-title>
		<ion-buttons slot="end">
			<ion-button (click)="dismissModal()">
				<ion-icon slot="icon-only" name="close"></ion-icon>
			</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content padding>
	<form [formGroup]="profileForm" padding>
		<ion-item>
			<ion-label position="stacked">{{ content.labels.profileName }}</ion-label>
			<ion-input formControlName="profileName"></ion-input>
		</ion-item>

		<ion-list-header>
			<ion-label>{{ content.labels.mainTimer }}:</ion-label>
		</ion-list-header>

		<ion-item formGroupName="mainTimeGroup" class="main-timer">
			<ion-input placeholder="Hours" type="number" formControlName="h" max="24"></ion-input>
			<ion-input placeholder="Minutes" type="number" formControlName="m" max="60"></ion-input>
			<ion-input placeholder="Seconds" type="number" formControlName="s" max="60"></ion-input>
		</ion-item>

		<ion-list-header lines="full" class="ion-no-margin">
			<ion-label>{{ content.labels.subtimers }}:</ion-label>
		</ion-list-header>
		<div formArrayName="subtimeArrayGroup" class="create-profile">
			<div *ngFor="let subtime of subtimeArray.controls; let i = index" [formGroupName]="i" class="ion-justify-content-center">
				<div class="create-profile__subtimeInput">
					<ion-input placeholder="Hours" type="number" formControlName="h" max="2"></ion-input>
					<ion-input placeholder="Minutes" type="number" formControlName="m" max="2"></ion-input>
					<ion-input placeholder="Seconds" type="number" formControlName="s" max="2"></ion-input>
					<ion-button (click)="deleteSubtimeForm()">Delete</ion-button>
				</div>
			</div>
		</div>
		<ion-button (click)="addNewSubtimer()">Add New</ion-button>
	</form>
	<ion-button (click)="saveProfile()" expand="full" [disabled]="profileForm.invalid">{{ content.labels.save }}</ion-button>
</ion-content>
