<ion-grid style="height: 100%">
	<app-subtimer *ngIf="time.main" [subtime]="time.subtimer"></app-subtimer>
	<!-- //main timer component will be dumb and centered. -->

	<app-maintimer *ngIf="time.main" [mainTime]="time.main" (startTheTimer)="startTheTimer()"
		(pauseTheTimer)="pauseTheTimer()"></app-maintimer>

	<ion-row>
		<ion-col size="12">
			<div class="missing-profile">
				<p class="missing-profile__text"> You have not created any profiles. Click the icon to get started!</p>
				<ion-icon class="missing-profile__icon" name="add-circle-outline" (click)="createAProfile()"></ion-icon>
			</div>
		</ion-col>
	</ion-row>
</ion-grid>