<ion-row>
  <ion-col size="12">
    <ion-list reorder="true">
      <!-- Multi-line sliding item with icon options on both sides -->
      <ion-item-sliding>
        <ion-item>
          <ion-label>Item</ion-label>
        </ion-item>
        <ion-item-options side="end">
          <ion-item-option (click)="unread(item)">Unread</ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    
    </ion-list>

  </ion-col>

  <ion-col>
    <ion-icon class="missing-profile__icon" name="add-circle-outline" (click)="createProfile()"></ion-icon>
  </ion-col>
</ion-row>